<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="<<PACKAGE_NAME>>">

    <overlay
        android:priority="1000"
        android:targetPackage="<<REAL_TARGET_PACKAGE>>" />

    <application>

        <meta-data android:name="theme_version" android:value="<<THEME_VERSION>>" />
        <meta-data android:name="theme_package" android:value="<<THEME_PACKAGE>>" />
        <meta-data android:name="target_package" android:value="<<TARGET_PACKAGE>>" />

</manifest>
